:root {
    /* основний колір тексту */
    --primary-text-color: rgba(117, 117, 117, 1);;
  
    /* колір заголовків */
    --title-text-color: rgba(33, 33, 33, 1);
  
    /* футер колір адреси */
    --adress-footer-color: rgba(255, 255, 255, 0.6);
  
    /* футер колір контактів */
    --contact-footer-color:#FFFFFF;
  
    /* основний фон сторінки */
    --primary-background-color:#F5F5F5;
  
    /* фон хедера */
    --header-color: rgba(255, 255, 255, 1);
  
    /* фон наша команда */
   --title-ourtame-color: #F5F4FA;
  
    /* фон геой */
  --title-heroe-color:rgba(47, 48, 58, 1);
  
    /* колір заголовку герой */
  --text-heroe-color:rgba(255, 255, 255, 1);
    /* колір секції футер */
  
    --footer-color: rgba(47, 48, 58, 1);
  
    /* акцент, підсвітка */
    --accent-color:rgba(33, 150, 243, 1);
  
    /* логотип */
    --title-web-color:rgba(33, 150, 243, 1);
    --title-studio-color:rgba(0, 0, 0, 1);
  
    /* кнопка */
    --title-button-color: #FFFFFF;
    --accen-button-color:rgba(33, 150, 243, 1);
  }
  
 body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
  
    font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

/* утиліти */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1
h2
h3
h3
h4
h5
h6
p
ul {
margin-top: 0;
margin-bottom: 0;
}

.page-header {
  background-color: var(--header-color);
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid tomato;
  }


/* Navigation */

.main-nav {
  display: flex;
  align-items: center;
}

/* Logo-top */

.logo-top {
  display: flex;
  
}
/* Logo header */

.logo-header {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--title-web-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.accent-black {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  color:var(--title-studio-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/* Logo-button */

.logo-button {
  display: flex;
}

/* logo footer */

.logo-footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 161px;

  color: var(--title-web-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.accent-white {
  display: block;
  padding-top: 60px;
  padding-bottom: 161px;

  color: var(--text-heroe-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}



    /* Site nav */

.site-nav {
  display: flex;
  margin-left: 93px;
  
}
.site-nav .item +.item {
margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
 

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  
}

.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Auth */

.auth-nav {
  display: flex;
  margin-left: auto;
  
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
color: var(--accent-color);
}

.auth-nav .link.current {
  color: var(--accent-color);
}

  /* Section */

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    }
   
 /* portfolio list */
.section-text {
    color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  } 

  /* Button */
  .button {
    color: var(--title-button-color);
    font-family: inherit;
  }
  
    .button-nav .link {
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
  }

  .button-nav .link:hover {
    color: var(--accent-color);
  }
  .button-nav .primary {
    color: var(--title-button-color);
    background-color: var(--accen-button-color);
    } 

     /* Footer */

  .footer {
    background-color: 
    #2F303A;
  }
  .contact-footer {
 color: var(--contact-footer-color)
  }

  .adress-list .link {
 color: var(--adress-footer-color);
 text-decoration: none;
  }