
/*колір головного тексту #212121; */
/*вторинний колір майн, хедер rgba(117, 117, 117, 1);*/
/* вторинний колір футер rgba(255, 255, 255, 0.6); */
/*фоновий білий колір шапка, фото команди #FFFFFF */
/*акцент #2196F3; */
/* фоновий вторинний колір навики,чим ми займаємося #F5F5F5 */
/* фоновий колір наша команда #F5F4FA */

:root {
  /* основний колір тексту */
  --primary-text-color: rgba(117, 117, 117, 1);;

  /* колір заголовків */
  --title-text-color: rgba(33, 33, 33, 1);

  /* футер колір адреси */
  --adress-footer-color: rgba(255, 255, 255, 0.6);

  /* футер колір контактів */
  --contact-footer-color:#FFFFFF;

  /* основний фон сторінки */
  --primary-background-color:#F5F5F5;

  /* фон хедера */
  --header-color: rgba(255, 255, 255, 1);

  /* фон наша команда */
 --title-ourtame-color: #F5F4FA;

  /* фон геой */
--title-heroe-color:rgba(47, 48, 58, 1);

  /* колір заголовку герой */
--text-heroe-color:rgba(255, 255, 255, 1);
  /* колір секції футер */

  --footer-color: rgba(47, 48, 58, 1);

  /* акцент, підсвітка */
  --accent-color:rgba(33, 150, 243, 1);

  /* логотип */
  --title-web-color:rgba(33, 150, 243, 1);
  --title-studio-color:rgba(0, 0, 0, 1);

  /* кнопка */
  --title-button-color: #FFFFFF;
  --accen-button-color:rgba(33, 150, 243, 1);
}



body {
  margin: 0;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

/* утиліти */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}


ul {
    list-style: none;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6,
p,
ul {
margin-top: 0;
margin-bottom: 0;
padding: 0;
}

.page-header {
  background-color: var(--header-color);
  display: flex;
}

.container .page-header {
  display: flex;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid tomato;
  }


/* Navigation */

.main-nav {
  display: flex;
  align-items: center;
}

/* Logo-top */

.logo-top {
  display: flex;
  
}
/* Logo header */

.logo-header {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--title-web-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.accent-black {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  color:var(--title-studio-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

    /* Site nav */

.site-nav {
  display: flex;
  margin-left: 93px;
  
}

/* .site-nav .item:not(:last-child) {
margin-right: ;
} */

/* .site-nav .item:last-child {
  margin-right: ;
} */

.site-nav .item +.item {
margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
 

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  
}

.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Auth */

.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
color: var(--accent-color);
}

.auth-nav .link.current {
  color: var(--accent-color);
}


/* Hero */

.hero {
  text-align: center; 
  background-color: var(--title-heroe-color);
}

  .hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    color:var(--text-heroe-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36; 
    
  }

  .hero-btn {
    margin-bottom: 200px;
    font-family: inherit;
    cursor: pointer;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;

    color: var(--title-button-color);
    background-color: var(--accen-button-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-decoration: none;
    text-align:center ;
    
    }
  

/* Section */
.section {
  padding-top: 0;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px; 
color: var(--title-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
}


/* Features */
.feature-list {
  display: flex;
  margin-top: 94px;
}

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.feature-list p {
  margin-top: 0;
  margin-bottom: 10px;
}

  /* Work */

  .flex-work {
    display: flex;
    flex-wrap: wrap;
  }

  .work-element {
    width: 370px;
    margin-right: 30px;
  }

  .work-element:nth-child(3n) {
    margin-right: 0;
  }

  /* .work-list .item:not(:last-child) {
    margin-right: 30px;
  } */
  /* .work-list:nth-child(3n) {
    margin-right: 30px;
  } */

  

  /* Comand */

  .comand-list {
    display: flex;
    flex-wrap: wrap;
  }

  .page-element {
    width: 270px;
    margin-right: 30px;
  }

  .page-element:nth-child(3n) {
    margin-right: 0;
  }

  .comand-list .link {
    margin-top: 0;
    margin-bottom: 10px;
    background-color: var(--title-ourtame-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  }
  
  .comand-list p {
  /* margin-top: 0; */
  padding-bottom: 30px;
  }


  /* Footer */
  .page-footer {
    background-color: 
    #2F303A;
  }

  /* logo footer */

.logo-footer {
  display: block;
  /* padding-top: 60px;
  padding-bottom: 20px; */

  color: var(--title-web-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.accent-white {
  display: block;
  /* padding-top: 60px;
  padding-bottom: 20px; */

  color: var(--text-heroe-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

  /* Logo-button */

.logo-buttom {
  display: flex;
  padding-top: 60px;
  padding-bottom: 20px;
}

.contact-footer {
 color: var(--contact-footer-color);
 padding-bottom: 9px;
}

  .adress-list .link {
 color: var(--adress-footer-color);
 text-decoration: none;
  }

  .adress-list {
    padding-bottom: 60px;
  }
  
  .adress-list li {
  margin-top: 0;
  margin-bottom: 9px;
  }



